/* REDUZ UM POUCO O ESPAÇAMENTO VERTICAL DOS TÍTULOS */
h1, h2, h3, h4, h5, h6 {
    margin-top: 3rem;
}

/* Insere LOGO "OSE" na sidebar antes de tudo */
.sidebar-scrollbox::before {
    content: "";
    display: block;
    background: url("ose_logo.webp") no-repeat center;
    background-size: contain;
    height: 80px;
    margin-bottom: 1rem;
}

/* Insere LOGO "Dados Místicos" na sidebar antes de tudo */
.sidebar-scrollbox::after {
    content: "";
    display: block;
    background: url("DadosMisticos.webp") no-repeat center;
    background-size: contain;
    height: 150px;
    margin-top: 1rem;
}

/* ARRUMA TABELAS */
table {
    display: block;
    overflow-x: auto;
    max-width: 100%;
}

table th,
table td {
    padding: 2px 6px;
    white-space: normal;
}

table td:not(:first-child) {
    text-align: center;
}
