h1, h2, h3, h4, h5, h6 {
    margin-top: 3rem;
}

.sidebar-scrollbox::before {
    content: "";
    display: block;
    background: url("ose_logo.webp") no-repeat center;
    background-size: contain;
    height: 80px;
    margin-bottom: 1rem;
}

.sidebar-scrollbox::after {
    content: "";
    display: block;
    background: url("DadosMisticos.webp") no-repeat center;
    background-size: contain;
    height: 150px;
    margin-top: 1rem;
}
